# ![.right](https://lh6.ggpht.com/wUrTIhpHPVqw_VPCdhbSiF5TXlBlLyRHdH1gsII_y5NkgYKzbbj7cC2l6AGoVq-JN0U=w100 "MSDS 7331 Data Mining - Project 1")


# Project 2: Classification

---



# Team Members

- Chris Woodard
- Claire Chu
- Nathan Mowat
- Bill Kerneckel

---


# Rubic

- [Data Preperation 1](#dp1) 

- [Data Preperation 2](#dp2)

- [Modeling and Evaluation 1](#me1)

- [Modeling and Evaluation 2](#me2)

- [Modeling and Evaluation 3](#me3)

- [Modeling and Evaluation 4](#me4)

- [Modeling and Evaluation 5](#me5)

- [Modeling and Evaluation 6](#me6)

- [Deployment](#d)

- [Exceptional Work](#ew)

- [Appendix](#a)

<hr>

# OBJECTIVE: 
Using the NASA human resources dataset, let's use the variables to predict future records:
- what kind of model can we use to predict a "junior salary range level" classification, given the variables we have
- what kind of model can we use to predict a "caucasian" race classification, given the variables we have

# Data Preperation 1

---

10 Points - Define and prepare your class variables. Use proper variable representations (int, float, one-hot, etc.). Use pre-processing methods (as needed) for dimensionality reduction, scaling, etc. Remove variables that are not needed/useful for the analysis.

In [1]:
#load python libaries
import numpy as np
import pandas as pd
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as pl
import seaborn as sns
import glob
import sys
import os
import warnings
import ggplot
import datetime
import time
from datetime import date

In [2]:
%matplotlib inline

In [62]:
#load data file
data_file = pd.read_excel('/Users/macnificent/desktop/NEW_NASA_2006.xlsx') 
data_file2 = pd.read_excel('/Users/macnificent/desktop/NEW_NASA_2007.xlsx') 
data_file3 = pd.read_excel('/Users/macnificent/desktop/NASA_2008.xlsx')
data_file4 = pd.read_excel('/Users/macnificent/desktop/NASA_2009.xlsx')
data_file5 = pd.read_excel('/Users/macnificent/desktop/NASA_2010.xlsx')
data_file6 = pd.read_excel('/Users/macnificent/desktop/NASA_2011.xlsx')
data_file7 = pd.read_excel('/Users/macnificent/desktop/NASA_2012.xlsx')
data_file8 = pd.read_excel('/Users/macnificent/desktop/NASA_2013.xlsx')
data_file9 = pd.read_excel('/Users/macnificent/desktop/NASA_2014.xlsx')
data_file10 = pd.read_excel('/Users/macnificent/desktop/NASA_2015.xlsx')
data_file11 = pd.read_excel('/Users/macnificent/desktop/NASA_2016.xlsx')

#you'll have to change the file path to your working directory

#removing 1st row from datasets
data_file.drop(0, axis = 0,inplace = True)
data_file2.drop(0, axis = 0,inplace = True)
data_file3.drop(0, axis = 0,inplace = True)
data_file4.drop(0, axis = 0,inplace = True)
data_file5.drop(0, axis = 0,inplace = True)
data_file6.drop(0, axis = 0,inplace = True)
data_file7.drop(0, axis = 0,inplace = True)
data_file8.drop(0, axis = 0,inplace = True)
data_file9.drop(0, axis = 0,inplace = True)
data_file10.drop(0, axis = 0,inplace = True)
data_file11.drop(0, axis = 0,inplace = True)

#note: please be patient as this will take a few minutes to run

In [66]:
#combining dataframes 
df = [data_file, data_file2, data_file3, data_file4, data_file5, data_file6, data_file7, data_file8, data_file9, data_file10, data_file11]

cdf = pd.concat(df, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
cdf.reset_index()

,index,Hist_yr,Unnamed: 28,agency,bdyr,coopsch,coopyr,currgrddte,dtystn_ind,dtystnname,...,sex,step_emp,supind,suplev,tenure,time_in_grade,tl,ttl,typappt,worksch
0,1,2006,NaN,NN51,1900,NaN,NaN,10/08/1989,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,9,8,34,1,205.46,NaN,NaN,10,F
1,2,2006,NaN,NN51,1980,NaN,NaN,09/22/2002,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,6,2,26,1,50.00,NaN,NaN,10,F
2,3,2006,NaN,NN23,1986,NaN,NaN,07/21/1996,88,"HAMPTON,HAMPTON,VIRGINIA",...,M,8,8,34,1,124.04,NaN,NaN,10,F
3,4,2006,NaN,NN64,1994,NaN,NaN,04/17/2005,88,"STENNIS SPACE CENTER, HANCOCK, MISSISSIPPI",...,M,2,2,26,1,19.17,NaN,NaN,10,F
4,5,2006,NaN,NN72,2006,NaN,NaN,07/23/2006,29,"HOUSTON,HARRIS,TEXAS",...,F,10,8,34,3,3.98,NaN,NaN,20,F
5,6,2006,NaN,NN62,1972,NaN,NaN,12/01/1997,32,"REDSTONE ARSENAL,MADISON,ALABAMA",...,M,6,8,34,1,107.69,NaN,NaN,10,F
6,7,2006,NaN,NN51,1900,NaN,NaN,02/27/2000,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,5,8,34,1,80.85,NaN,NaN,10,F
7,8,2006,NaN,NN72,1986,NaN,NaN,04/26/1998,29,"HOUSTON,HARRIS,TEXAS",...,M,6,8,34,1,102.88,NaN,NaN,10,F
8,9,2006,NaN,NN51,1978,NaN,NaN,09/27/1987,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,0,2,32,1,229.85,NaN,NaN,10,F
9,10,2006,NaN,NN10,1987,NaN,NaN,05/14/2006,80,"WASHINGTON,DISTRICT OF COLUMBIA",...,F,6,2,34,1,6.27,NaN,NaN,10,F
10,11,2006,NaN,NN62,1982,NaN,NaN,07/30/2000,32,"REDSTONE ARSENAL,MADISON,ALABAMA",...,M,7,8,34,1,75.75,NaN,NaN,10,F
11,12,2006,NaN,NN72,1976,NaN,NaN,09/29/1989,29,"HOUSTON,HARRIS,TEXAS",...,F,10,8,34,1,205.78,NaN,NaN,10,F
12,13,2006,NaN,NN22,1973,NaN,NaN,04/04/2004,14,"BROOK PARK,CUYAHOGA,OHIO",...,M,7,2,29,1,31.59,NaN,NaN,10,F
13,14,2006,NaN,NN10,1975,NaN,NaN,03/30/1997,80,"WASHINGTON,DISTRICT OF COLUMBIA",...,M,8,5,34,1,115.75,NaN,NaN,10,F
14,15,2006,NaN,NN76,1978,NaN,NaN,12/23/1984,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",...,F,10,5,25,1,262.98,NaN,NaN,10,F
15,16,2006,NaN,NN21,1980,NaN,NaN,07/14/2002,74,"MOFFETT FIELD,SANTA CLARA,CALIFORNIA",...,M,5,8,34,1,52.27,NaN,NaN,10,F
16,17,2006,NaN,NN21,1979,NaN,NaN,03/21/2004,74,"MOFFETT FIELD,SANTA CLARA,CALIFORNIA",...,M,10,5,34,1,32.04,NaN,NaN,10,F
17,18,2006,NaN,NN51,2003,NaN,NaN,11/27/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,4,8,34,1,11.85,NaN,NaN,10,F
18,19,2006,NaN,NN10,1978,NaN,NaN,03/21/1993,41,"PASADENA,LOS ANGELES,CALIFORNIA",...,M,8,8,34,1,164.04,NaN,NaN,10,F
19,20,2006,NaN,NN22,1983,NaN,NaN,11/18/1990,14,"BROOK PARK,CUYAHOGA,OHIO",...,M,10,2,27,1,192.14,NaN,NaN,10,F
20,21,2006,NaN,NN62,1999,NaN,NaN,07/15/2001,32,"REDSTONE ARSENAL,MADISON,ALABAMA",...,M,8,8,34,1,64.24,NaN,NaN,10,F
21,22,2006,NaN,NN76,1900,NaN,NaN,11/13/2005,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",...,F,10,8,34,3,12.30,NaN,NaN,20,F
22,23,2006,NaN,NN51,1987,NaN,NaN,08/25/2002,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,7,8,34,1,50.91,NaN,NaN,10,F
23,24,2006,NaN,NN76,1995,NaN,NaN,10/15/2006,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",...,M,1,8,34,3,1.24,NaN,NaN,20,F
24,25,2006,NaN,NN51,2002,NaN,NaN,04/16/2006,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,2,8,34,1,7.20,NaN,NaN,10,F
25,26,2006,NaN,NN72,1967,NaN,NaN,01/08/1989,29,"HOUSTON,HARRIS,TEXAS",...,M,10,8,34,1,214.46,NaN,NaN,10,F
26,27,2006,NaN,NN10,1972,NaN,NaN,01/09/2006,80,"WASHINGTON,DISTRICT OF COLUMBIA",...,M,0,2,26,0,10.43,NaN,NaN,50,F
27,28,2006,NaN,NN76,1982,NaN,NaN,11/12/2006,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",...,M,10,8,34,3,0.33,NaN,NaN,20,F
28,29,2006,NaN,NN51,1900,NaN,NaN,10/30/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,2,8,34,1,12.75,NaN,NaN,10,F
29,30,2006,NaN,NN72,1996,NaN,NaN,06/12/2005,29,"HOUSTON,HARRIS,TEXAS",...,M,8,8,34,2,17.33,NaN,NaN,15,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202707,17498,2016,NaN,NN51,1992,NaN,0,08/05/2007,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,8,8,34,1,109.59,NaN,AEROSPACE FLIGHT SYSTEMS,10,F
202708,17499,2016,NaN,NN51,1992,NaN,0,05/04/2014,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,7,2,29,1,28.62,NaN,"RVISORY AST, SOFTWARE SYSTEMS",10,F
202709,17500,2016,NaN,NN23,1991,NaN,0,02/26/2012,88,"HAMPTON,HAMPTON,VIRGINIA",...,M,5,8,34,1,54.91,NaN,NaN,10,F
202710,17501,2016,NaN,NN10,2005,NaN,0,08/07/2016,88,"BAY ST LOUIS,HANCOCK,MISSISSIPPI",...,M,6,8,32,1,1.52,NaN,NaN,10,F
202711,17502,2016,NaN,NN23,1900,NaN,0,10/02/2005,88,"HAMPTON,HAMPTON,VIRGINIA",...,M,7,2,29,1,131.68,NaN,NaN,10,F
202712,17503,2016,NaN,NN23,2008,NaN,0,07/12/2015,88,"HAMPTON,HAMPTON,VIRGINIA",...,M,3,8,34,1,14.36,NaN,"ARCH AST, AEROSPACE MATERIALS",10,F
202713,17504,2016,NaN,NN72,1987,NaN,0,07/24/1994,29,"HOUSTON,HARRIS,TEXAS",...,F,10,8,34,1,265.98,NaN,", TELECOMMUNICATIONS)",10,F
202714,17505,2016,NaN,NN51,1997,NaN,0,03/11/2012,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,5,8,34,1,54.39,NaN,NaN,10,F
202715,17506,2016,NaN,NN51,1900,NaN,0,10/19/2014,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,4,8,34,1,23.14,NaN,NaN,10,F
202716,17507,2016,NaN,NN51,1900,NaN,0,07/24/2016,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,5,2,27,1,1.98,NaN,NaN,10,F
202717,17508,2016,NaN,NN76,1997,NaN,0,06/27/2004,54,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",...,F,8,8,34,1,146.88,NaN,NaN,10,F
202718,17509,2016,NaN,NN24,1997,NaN,0,06/12/2016,41,"EDWARDS AFB,KERN,CALIFORNIA",...,F,5,8,34,1,3.36,NaN,NaN,10,F
202719,17510,2016,NaN,NN51,1983,NaN,0,05/05/2002,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,10,8,34,1,172.59,NaN,NaN,10,F
202720,17511,2016,NaN,NN51,1991,NaN,0,03/28/2010,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,7,8,34,1,77.85,NaN,", AEROSPACE FLIGHT SYSTEMS)",10,F
202721,17512,2016,NaN,NN10,1987,NaN,0,10/11/2009,80,"WASHINGTON,DISTRICT OF COLUMBIA",...,M,0,2,26,0,83.39,NaN,NaN,50,F
202722,17513,2016,NaN,NN21,1900,NaN,0,03/13/2011,03,"ALBUQUERQUE,BERNALILLO,NEW MEXICO",...,M,8,8,34,1,66.33,NaN,NaN,10,F
202723,17514,2016,NaN,NN72,2013,NaN,0,09/08/1991,29,"HOUSTON,HARRIS,TEXAS",...,M,10,8,34,1,300.49,NaN,", AEROSPACE FLIGHT SYSTEMS)",10,F
202724,17515,2016,NaN,NN51,1989,NaN,0,02/09/2014,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,F,5,5,29,1,31.46,NaN,NaN,10,F
202725,17516,2016,NaN,NN62,2010,NaN,0,11/05/2012,32,"REDSTONE ARSENAL,MADISON,ALABAMA",...,M,4,8,34,1,46.59,NaN,"ARCH AST, FIELDS AND PARTICLES",10,F
202726,17517,2016,NaN,NN51,1987,NaN,0,07/02/2000,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,9,8,34,1,194.68,NaN,AEROSPACE FLIGHT SYSTEMS,10,F
202727,17518,2016,NaN,NN51,2006,NaN,0,10/26/2009,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,5,8,34,1,82.91,NaN,",ATMOSPHERIC CHEMISTRY & DYNAMIC)",10,F
202728,17519,2016,NaN,NN72,1990,NaN,0,04/03/2016,29,"HOUSTON,HARRIS,TEXAS",...,F,4,8,34,1,5.65,NaN,NaN,10,F
202729,17520,2016,NaN,NN21,1985,NaN,0,09/30/2007,74,"MOFFETT FIELD,SANTA CLARA,CALIFORNIA",...,M,9,8,34,1,107.78,NaN,FLUID MECHANICS,10,F
202730,17521,2016,NaN,NN62,2009,NaN,0,09/19/2016,32,"REDSTONE ARSENAL,MADISON,ALABAMA",...,M,1,8,34,2,0.14,NaN,"ARCH AST, FIELDS AND PARTICLES",15,F
202731,17522,2016,NaN,NN51,1974,NaN,0,01/30/2000,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,10,8,34,1,199.78,NaN,AEROSPACE FLIGHT SYSTEMS,10,F
202732,17523,2016,NaN,NN21,1980,NaN,0,10/29/2006,74,"MOFFETT FIELD,SANTA CLARA,CALIFORNIA",...,M,8,8,34,1,118.81,NaN,NaN,10,F
202733,17524,2016,NaN,NN76,1987,NaN,0,01/11/2004,54,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",...,M,10,8,34,1,152.39,NaN,", SAFETY & MISSION ASSURANCE)",10,F
202734,17525,2016,NaN,NN51,1984,NaN,0,08/26/2001,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",...,M,0,8,34,1,180.91,NaN,NaN,10,F
202735,17526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202736,17527,(17525 row(s,NaN,) affec,ted),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# dropping columns we are not using for the analysis
cdf.drop('Unnamed: 28', axis=1, inplace=True)
cdf.drop('agency', axis=1, inplace=True)
cdf.drop('coopsch', axis=1, inplace=True)
cdf.drop('coopyr', axis=1, inplace=True)
cdf.drop('dtystn_ind', axis=1, inplace=True)
cdf.drop('dtystnname', axis=1, inplace=True)
cdf.drop('edlev', axis=1, inplace=True)
cdf.drop('foulev', axis=1, inplace=True)
cdf.drop('fousch', axis=1, inplace=True)
cdf.drop('fouyr', axis=1, inplace=True)
cdf.drop('nasattl', axis=1, inplace=True)
cdf.drop('nasa', axis=1, inplace=True)
cdf.drop('nasat', axis=1, inplace=True)
cdf.drop('probenddte', axis=1, inplace=True)
cdf.drop('promontedte', axis=1, inplace=True)
cdf.drop('secsch', axis=1, inplace=True)
cdf.drop('seclev', axis=1, inplace=True)
cdf.drop('typappt', axis=1, inplace=True)
cdf.drop('tl', axis=1, inplace=True)
cdf.drop('ttl', axis=1, inplace=True)
cdf.drop('worksch', axis=1, inplace=True)

In [68]:
cdf = cdf[cdf.bdyr != 1900]
cdf.salary = cdf.salary.astype(np.float64)
cdf.time_in_grade = cdf.time_in_grade.astype(np.float64)
cdf.suplev = cdf.suplev.astype(np.float64)

In [69]:
# converting bdyr column to age
#now = datetime.datetime.now()
now = date(2016,12,31)
cdf['bdyr'] = cdf['bdyr'].apply(pd.to_numeric, errors='coerce') 
cdf['age'] = now.year - cdf['bdyr']

In [70]:
cdf['salary_range'] = pd.cut(cdf['salary'],[0,50000,100000,135000,150000],4,labels=['Entry_Level','Jr_Level','Mid_Level', 'Mgmt_Level'])
print(cdf['salary_range'].head())
cdf.dropna(inplace=True)

1     Jr_Level
2    Mid_Level
3     Jr_Level
4    Mid_Level
5     Jr_Level
Name: salary_range, dtype: category
Categories (4, object): [Entry_Level < Jr_Level < Mid_Level < Mgmt_Level]

In [73]:
# convert cdf variable back to "df" nomenclature
df = pd.DataFrame(cdf)

In [74]:
#manipulate employee start date 'eoddte' to get 'service' variable
#convert 'eoddte' to series
df.eod = pd.Series(df['eoddte'])
#convert 'eoddte' series to 'eoddte' datetime
df['eoddte'] = pd.to_datetime(df.eod) 
#convert eod to be just the year
df['eodyr'] = df['eoddte'].map(lambda x: x.year)

In [75]:
#convert high school graduation year "hiyr" to be numeric
df['hiyr'] = df['hiyr'].apply(pd.to_numeric, errors='coerce')
#after looking at a crosstab, we can see that there are a lot of "high school graduation year: 0"
#this is a data entry error, let's remove these entries...
df = df[df.hiyr != 0]
pd.crosstab(index=df["hiyr"],columns="hiyr")
#now the 0 entries have been removed

#subtract employee hire date from high school graduation date to get exprience
df['experience'] = df['eodyr'] - df['hiyr']

In [76]:
#get the 'service' variable by subtracting current date from hire date
today = date(2016, 12, 31)

df['service'] = today - df['eoddte']
#generate retirement potential by subtracting retirement eligibility date from todays date  
#convert retoptdte to series for conversion to datetime format
df.retoptdte = pd.Series(df['retoptdte'])
#convert 'retoptdte' series to 'eoddte' datetime
df['retoptdte'] = pd.to_datetime(df.retoptdte) 
#generate 'retpot' variable
df['retpot'] = today - df['retoptdte']

In [77]:
df_grouped = df.groupby(by=['grade','sex'])

In [78]:
df_grouped = df.groupby(by=['grade','sex'])
df_imputed = df_grouped.transform(lambda grp: grp.fillna(grp.median()))
df_imputed[['grade','sex']] = df[['grade','sex']]

In [82]:
df['Hist_yr'] = df['Hist_yr'].astype(np.float64)
df_yrgroup = df.groupby(by=['Hist_yr'])
print(df_yrgroup.head())

    Hist_yr    bdyr           currgrddte     eoddte              frscdte  \
2    2006.0  1980.0           09/22/2002 1990-07-01           07/01/1990
3    2006.0  1986.0           07/21/1996 1985-04-01           04/01/1985
6    2006.0  1972.0           12/01/1997 1997-12-01           12/01/1997
8    2006.0  1986.0           04/26/1998 1991-02-03           02/03/1991
10   2006.0  1987.0           05/14/2006 2002-07-28           07/28/2002
1    2007.0  2005.0           04/25/1999 1991-07-29           07/29/1991
2    2007.0  1976.0           11/18/1990 2006-03-15           03/15/2006
3    2007.0  1987.0           06/02/2002 1988-09-19           09/19/1988
4    2007.0  1990.0           07/23/2006 2000-07-16           07/16/2000
6    2007.0  1988.0           07/15/2001 1986-12-01           12/01/1986
1    2008.0  1995.0           05/09/1999 1983-12-29           12/29/1983
4    2008.0  2006.0           09/04/2007 2007-09-04           09/04/2007
6    2008.0  1989.0           03/02/2008 2008-03-02           03/02/2008
10   2008.0  1981.0           09/08/2002 1983-06-06           06/06/1983
11   2008.0  2007.0           04/13/2008 2008-04-13           04/13/2008
2    2009.0  1985.0  2000-09-24 00:00:00 1989-09-11  1989-09-11 00:00:00
3    2009.0  1997.0  1996-09-15 00:00:00 1980-01-21  1980-01-21 00:00:00
4    2009.0  1998.0  2005-02-06 00:00:00 1983-11-07  1983-11-07 00:00:00
6    2009.0  1991.0  2005-03-20 00:00:00 2003-03-23  2003-03-23 00:00:00
8    2009.0  1974.0  2005-08-15 00:00:00 2005-08-15  2005-08-15 00:00:00
8    2010.0  1977.0           05/01/2005 1983-01-31           01/31/1983
11   2010.0  1983.0           09/12/1999 1988-04-10           04/10/1988
12   2010.0  1986.0           09/19/2004 1999-05-09           05/09/1999
14   2010.0  1984.0           08/06/2006 1984-05-21           05/21/1984
17   2010.0  2000.0           11/26/2007 2007-11-26           11/26/2007
3    2011.0  1976.0           09/16/2007 1988-05-01           05/01/1988
4    2011.0  1992.0           12/21/2008 2006-06-11           06/11/2006
5    2011.0  1975.0           07/30/2000 1989-08-28           08/28/1989
7    2011.0  1981.0           11/04/2001 1992-03-29           03/29/1992
8    2011.0  1987.0           02/19/2008 2008-02-19           02/19/2008
3    2012.0  1985.0           08/25/1991 1982-09-07           09/07/1982
4    2012.0  1984.0           12/20/1998 1985-02-03           02/03/1985
5    2012.0  1986.0           12/19/2010 1999-08-02           08/02/1999
8    2012.0  1992.0           05/30/2004 1997-03-03           03/03/1997
9    2012.0  1977.0           06/17/2012 2008-11-09           11/09/2008
2    2013.0  2004.0           06/19/2011 2010-01-31           01/31/2010
7    2013.0  1992.0           03/29/2009 2001-06-25           06/25/2001
9    2013.0  1997.0           06/24/2007 1998-07-05           07/05/1998
11   2013.0  1999.0           09/25/2011 2000-06-05           06/05/2000
12   2013.0  2006.0           06/02/2013 2006-08-21           08/21/2006
1    2014.0  2003.0           08/25/2013 2005-08-07           08/07/2005
2    2014.0  2004.0           01/31/2011 2011-01-31           01/31/2011
3    2014.0  2002.0           01/12/2014 2014-01-12           01/12/2014
5    2014.0  1990.0           02/10/2013 1987-01-05           01/05/1987
6    2014.0  1990.0           12/19/2010 1987-08-24           08/24/1987
4    2015.0  1985.0           02/25/2013 2013-02-25           02/25/2013
6    2015.0  1981.0           03/16/2008 1980-06-04           06/04/1980
8    2015.0  1989.0           04/21/2013 2013-04-21           04/21/2013
10   2015.0  2003.0           07/03/2011 2004-11-14           11/14/2004
11   2015.0  1999.0           08/20/2006 2001-11-14           11/14/2001
2    2016.0  2008.0           05/04/2014 2010-01-19           01/19/2010
3    2016.0  2013.0           07/25/2016 2016-07-25           07/25/2016
4    2016.0  2010.0           09/20/2015 2010-09-13           09/13/2010
5    2016.0  2001.0           10/07/2012 2005-06-27           06/27/2005
7    2016.0  1998.0           08/02/2009 1999-09-12           09/12/1999

                 fscdte grade hilev hisch  hiyr     ...     supind suplev  \
2            11/11/1977    15    13  5835  1980     ...          2   26.0
3            08/25/1978    11    10  5793  1986     ...          8   34.0
6            12/01/1997    14    21  6882  1972     ...          8   34.0
8            07/12/1983    15    17  1827  1986     ...          8   34.0
10           04/05/1993    15    17  4866  1987     ...          2   34.0
1            07/29/1991     6    17  8477  2005     ...          8   34.0
2            08/11/1986    13    14  1835  1976     ...          8   34.0
3            09/19/1988    15    13  6672  1987     ...          2   29.0
4            07/16/2000    14    13  6379  1990     ...          8   34.0
6            12/01/1986    13    13  A103  1988     ...          8   34.0
1            12/29/1983    15    17  5233  1995     ...          2   29.0
4            07/24/1982    15    18  5190  2006     ...          2   26.0
6            03/02/2008    13    13  6003  1989     ...          8   34.0
10           08/23/1979    14    21  5246  1981     ...          8   34.0
11           01/28/2002    13    13  4047  2007     ...          8   34.0
2   1979-12-31 00:00:00    15    17  9879  1985     ...          5   25.0
3   1980-01-21 00:00:00    14    18  5080  1997     ...          8   34.0
4   1983-11-07 00:00:00    15    17  5572  1998     ...          2   26.0
6   2003-03-23 00:00:00    12    14  5190  1991     ...          8   34.0
8   2005-08-15 00:00:00    14    13  5190  1974     ...          8   34.0
8            01/31/1983    15    18  5860  1977     ...          2   29.0
11           10/29/1984    15    17  5105  1983     ...          8   34.0
12           04/23/1990    15    17  5885  1986     ...          8   34.0
14           05/21/1984    14    13  5297  1984     ...          8   34.0
17           11/26/2003    11    13  4833  2000     ...          8   34.0
3            09/25/1984    12    10  4604  1976     ...          8   34.0
4            06/11/2006    14    13  3969  1992     ...          8   34.0
5            08/28/1989    14    13  4687  1975     ...          8   34.0
7            07/23/1982    14    15  4684  1981     ...          8   34.0
8            02/19/2008    14    13  4860  1987     ...          8   34.0
3            03/09/1983    14    13  2757  1985     ...          8   34.0
4            02/03/1985    15    21  2757  1984     ...          8   34.0
5            08/02/1999    15    13  2672  1986     ...          2   28.0
8            03/03/1997    14    21  5816  1992     ...          8   34.0
9            04/21/1991    14    14  3315  1977     ...          8   34.0
2            08/20/2006    13    22  2672  2004     ...          8   34.0
7            06/25/2001    15    14  8003  1992     ...          8   34.0
9            06/23/1997    14    17  5246  1997     ...          8   34.0
11           06/05/2000    13    13  4687  1999     ...          8   34.0
12           08/21/2006    14    17  1841  2006     ...          8   34.0
1            08/27/2001    14    17  N291  2003     ...          8   34.0
2            01/31/2011    12    21  3514  2004     ...          8   34.0
3            01/12/2014    13    22  JA10  2002     ...          8   34.0
5            08/17/1987    14    13  1005  1990     ...          8   34.0
6            05/05/1988    15    13  5812  1990     ...          2   29.0
4            02/25/2013    15    21  4866  1985     ...          8   34.0
6            09/22/1979    14    10  5793  1981     ...          8   34.0
8            09/29/2004    15    14  1841  1989     ...          2   26.0
10           01/02/2001    14    17  5126  2003     ...          7   32.0
11           12/21/1995    13    14  2652  1999     ...          8   34.0
2            01/19/2010    14    17  1221  2008     ...          8   34.0
3            07/25/2016    11    17  2928  2013     ...          8   34.0
4            09/13/2010    13    17  5814  2010     ...          8   34.0
5            06/27/2005    15    21  4034  2001     ...          8   34.0
7            09/12/1999    14    22  3408  1998     ...          8   34.0

   tenure time_in_grade   age salary_range eodyr experience    service  \
2       1         50.00  36.0    Mid_Level  1990         10  9680 days
3       1        124.04  30.0     Jr_Level  1985         -1 11597 days
6       1        107.69  44.0    Mid_Level  1997         25  6970 days
8       1        102.88  30.0    Mid_Level  1991          5  9463 days
10      1          6.27  29.0    Mid_Level  2002         15  5270 days
1       1        101.07  11.0  Entry_Level  1991        -14  9287 days
2       1        202.30  40.0     Jr_Level  2006         30  3944 days
3       1         63.81  29.0    Mid_Level  1988          1 10330 days
4       1         14.14  26.0    Mid_Level  2000         10  6012 days
6       1         74.39  28.0     Jr_Level  1986         -2 10988 days
1       1        112.56  21.0    Mid_Level  1983        -12 12056 days
4       2         12.72  10.0    Mid_Level  2007          1  3406 days
6       3          6.78  27.0    Mid_Level  2008         19  3226 days
10      1         72.59  35.0    Mid_Level  1983          2 12262 days
11      1          5.43   9.0     Jr_Level  2008          1  3184 days
2       1        108.04  31.0   Mgmt_Level  1989          4  9973 days
3       1        156.33  19.0    Mid_Level  1980        -17 13494 days
4       1         55.62  18.0    Mid_Level  1983        -15 12108 days
6       1         54.17  25.0     Jr_Level  2003         12  5032 days
8       2         49.33  42.0    Mid_Level  2005         31  4156 days
8       1         64.75  39.0    Mid_Level  1983          6 12388 days
11      1        132.39  33.0   Mgmt_Level  1988          5 10492 days
12      1         72.17  30.0   Mgmt_Level  1999         13  6446 days
14      1         49.59  32.0    Mid_Level  1984          0 11912 days
17      3         33.94  16.0     Jr_Level  2007          7  3323 days
3       1         48.46  40.0     Jr_Level  1988         12 10471 days
4       1         33.30  24.0    Mid_Level  2006         14  3856 days
5       1        134.00  41.0   Mgmt_Level  1989         14  9987 days
7       1        118.85  35.0    Mid_Level  1992         11  9043 days
8       2         43.36  29.0   Mgmt_Level  2008         21  3238 days
3       1        253.10  31.0    Mid_Level  1982         -3 12534 days
4       1        165.27  32.0   Mgmt_Level  1985          1 11654 days
5       1         21.30  30.0   Mgmt_Level  1999         13  6361 days
8       1         99.94  24.0   Mgmt_Level  1997          5  7243 days
9       1          3.36  39.0    Mid_Level  2008         31  2974 days
2       1         27.27  12.0    Mid_Level  2010          6  2526 days
7       1         53.94  24.0   Mgmt_Level  2001          9  5668 days
9       1         75.10  19.0    Mid_Level  1998          1  6754 days
11      1         24.07  17.0    Mid_Level  2000          1  6053 days
12      1          3.81  10.0    Mid_Level  2006          0  3785 days
1       1         13.04  13.0    Mid_Level  2005          2  4164 days
2       1         43.85  12.0    Mid_Level  2011          7  2161 days
3       2          8.46  14.0     Jr_Level  2014         12  1084 days
5       1         19.52  26.0    Mid_Level  1987         -3 10953 days
6       1         45.23  26.0    Mid_Level  1987         -3 10722 days
4       2         31.00  31.0   Mgmt_Level  2013         28  1405 days
6       1         90.30  35.0    Mid_Level  1980         -1 13359 days
8       2         29.14  27.0   Mgmt_Level  2013         24  1350 days
10      1         50.72  13.0    Mid_Level  2004          1  4430 days
11      1        109.17  17.0    Mid_Level  2001          2  5526 days
2       1         28.62   8.0    Mid_Level  2010          2  2538 days
3       2          1.94   3.0     Jr_Level  2016          3   159 days
4       1         12.10   6.0     Jr_Level  2010          0  2301 days
5       1         47.52  15.0   Mgmt_Level  2005          4  4205 days
7       1         85.68  18.0    Mid_Level  1999          1  6320 days

        retpot
2    1778 days
3     962 days
6    4260 days
8   -1364 days
10    550 days
1     281 days
2    1590 days
3   -1156 days
4   -3544 days
6    -651 days
1     342 days
4     504 days
6   -2791 days
10   3571 days
11    480 days
2    2083 days
3    2544 days
4    -479 days
6    2071 days
8     778 days
8    2595 days
11    794 days
12  -1209 days
14    571 days
17  -5565 days
3    1709 days
4   -4990 days
5    1710 days
7    1622 days
8   -3370 days
3    -389 days
4     697 days
5   -2169 days
8   -1321 days
9     980 days
2   -7172 days
7   -5073 days
9   -5045 days
11  -4904 days
12  -7530 days
1   -6711 days
2   -5149 days
3   -6221 days
5   -2518 days
6   -2301 days
4    -421 days
6     807 days
8   -4541 days
10  -5115 days
11  -4588 days
2   -8419 days
3  -10798 days
4   -9801 days
5   -5698 days
7   -2445 days

[55 rows x 41 columns]

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126967 entries, 2 to 17523
Data columns (total 41 columns):
Hist_yr          126967 non-null float64
bdyr             126967 non-null float64
currgrddte       126967 non-null object
eoddte           126967 non-null datetime64[ns]
frscdte          126967 non-null object
fscdte           126967 non-null object
grade            126967 non-null object
hilev            126967 non-null object
hisch            126967 non-null object
hiyr             126967 non-null int64
install          126967 non-null object
lastpromodte     126967 non-null object
leqdte           126967 non-null object
loccde           126967 non-null object
ncc              126967 non-null object
nextwigdte       126967 non-null object
occode           126967 non-null object
opmtitle         126967 non-null object
orga             126967 non-null object
orgabr           126967 non-null object
orgadir          126967 non-null object
orgadiv          126967 non-null object
orgasec          126967 non-null object
postenure        126967 non-null object
retdiscdte       126967 non-null object
retoptdte        126967 non-null datetime64[ns]
rno              126967 non-null object
salary           126967 non-null float64
secyr            126967 non-null object
sex              126967 non-null object
step_emp         126967 non-null object
supind           126967 non-null object
suplev           126967 non-null float64
tenure           126967 non-null object
time_in_grade    126967 non-null float64
age              126967 non-null float64
salary_range     126967 non-null category
eodyr            126967 non-null int64
experience       126967 non-null int64
service          126967 non-null timedelta64[ns]
retpot           126967 non-null timedelta64[ns]
dtypes: category(1), datetime64[ns](2), float64(6), int64(3), object(27), timedelta64[ns](2)
memory usage: 39.8+ MB

# Data Preperation 2
---

5 Points - Describe the final dataset that is used for classification/regression (include a description of any newly formed variables you created).

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126967 entries, 2 to 17523
Data columns (total 41 columns):
Hist_yr          126967 non-null float64
bdyr             126967 non-null float64
currgrddte       126967 non-null object
eoddte           126967 non-null datetime64[ns]
frscdte          126967 non-null object
fscdte           126967 non-null object
grade            126967 non-null object
hilev            126967 non-null object
hisch            126967 non-null object
hiyr             126967 non-null int64
install          126967 non-null object
lastpromodte     126967 non-null object
leqdte           126967 non-null object
loccde           126967 non-null object
ncc              126967 non-null object
nextwigdte       126967 non-null object
occode           126967 non-null object
opmtitle         126967 non-null object
orga             126967 non-null object
orgabr           126967 non-null object
orgadir          126967 non-null object
orgadiv          126967 non-null object
orgasec          126967 non-null object
postenure        126967 non-null object
retdiscdte       126967 non-null object
retoptdte        126967 non-null datetime64[ns]
rno              126967 non-null object
salary           126967 non-null float64
secyr            126967 non-null object
sex              126967 non-null object
step_emp         126967 non-null object
supind           126967 non-null object
suplev           126967 non-null float64
tenure           126967 non-null object
time_in_grade    126967 non-null float64
age              126967 non-null float64
salary_range     126967 non-null category
eodyr            126967 non-null int64
experience       126967 non-null int64
service          126967 non-null timedelta64[ns]
retpot           126967 non-null timedelta64[ns]
dtypes: category(1), datetime64[ns](2), float64(6), int64(3), object(27), timedelta64[ns](2)
memory usage: 39.8+ MB

Based on the output above, you can see we have about 176,863 entries with 41 columns. 
New Variables created are:
- the age category derived from the "birth year" variable
- the salary_range category derived by dividing up the salary variable into 4 categories
- the eodyr variable which shows the year of employment
- the experience variable derived from the high school graduation year subtracted from the last date of the data set (12/31/2016)
- the serivce variable derived from the year of employment subtracted from 12/31/2016
- the retirement potential derived from the date of earliest reitrement subtracted from 12/31/2016

Let's use the variables to predict future records in the NASA human resources data set
- which model can we use to predict a "junior salary range level" classification, given the variables we have
- which model can we use to predict a "caucasian" race classification, given the variables we have

# Modeling and Evaluation 1
---

10 Points - Choose and explain your evaluation metrics that you will use (i.e., accuracy,
precision, recall, F-measure, or any metric we have discussed). Why are the measure(s) appropriate for analyzing the results of your modeling? Give a detailed explanation backing up any assertions.

# Modeling and Evaluation 2
---

10 Points - Choose the method you will use for dividing your data into training and testing splits (i.e., are you using Stratified 10-fold cross validation? Why?). Explain why your chosen method is appropriate or use more than one method as appropriate. For example, if you are using time series data then you should be using continuous training and testing sets across time

# Modeling and Evaluation 3
---

20 Points - Create three different classification/regression models for each task (e.g., random forest, KNN, and SVM for task one and the same or different algorithms for task two). Two modeling techniques must be new (but the third could be SVM or logistic regression). Adjust parameters as appropriate to increase generalization performance using your chosen metric. You must investigate different parameters of the algorithms!

# Modeling and Evaluation 4
---

10 Points - Analyze the results using your chosen method of evaluation. Use visualizations of the results to bolster the analysis. Explain any visuals and analyze why they are interesting to someone that might use this model.

# Modeling and Evaluation 5
---

10 Points - Discuss the advantages of each model for each classification task, if any. If there are not advantages, explain why. Is any model better than another? Is the difference significant with 95% confidence? Use proper statistical comparison methods. You must use statistical comparison techniques—be sure they are appropriate for your chosen method of validation as discussed in unit 7 of the course.

# Modeling and Evaluation 6
---

10 Points - Which attributes from your analysis are most important? Use proper methods discussed in class to evaluate the importance of different attributes. Discuss the results and hypothesize about why certain attributes are more important than others for a given classification task.

# Deployment
---

5 Points - How useful is your model for interested parties (i.e., the companies or organizations that might want to use it for prediction)? How would you measure the model's value if it was used by these parties? How would your deploy your model for interested parties? What other data should be collected? How often would the model need to be updated, etc.?

# Exceptional Work
---

10 Points - You have free reign to provide additional analyses. One idea: grid search parameters in a parallelized fashion and visualize the performances across attributes. Which parameters are most significant for making a good model for each classification algorithm?

# Appendix