# ![.right](https://lh6.ggpht.com/wUrTIhpHPVqw_VPCdhbSiF5TXlBlLyRHdH1gsII_y5NkgYKzbbj7cC2l6AGoVq-JN0U=w100 "MSDS 7331 Data Mining - Project 1")


# Project: Analysis of NASA Workforce Data - Mini Lab RESUBMISSION

---



# Team Members

- Chris Woodard
- Claire Chu
- Nathan Mowat
- Bill Kerneckel

---
# RESUBMISSION Additions
* Removed all unnecessary content from Lab 1
* Training and Testing Split
    - Used 4 cv iterations instead of 3
    - Used a 75/25 split on the data instead of 80/20
* Added an interactive widget to play around with the cost parameter in the regression object
    - Added description of effects of changing cost parameter

---
# Table of Contents

- [SVM & Logistic Regression Modeling](#SLR)

- [Training and Testing Split](#TT)

- [Logistic Regression - Create the Model](#LR)

- [Support Vector Machine](#SVM)

- [Support Vector Explination](#SVE)

- [Classification Comparison](#CC)

- [Acknowledgement](#ak)

- [Appendix](#a)



### Excel Import to verify data
<span style="color:red">
NOTE: In order to run these files, you will need "NEW_NASA_2006.xls","NEW_NASA_2007.xls" and "NASA_2008.xls" as these are sensitive materials, please contact Bill Kerneckel for download. 
</span>

# Data Import and Cleaning
All data cleaning commentary are given in Lab 1.

In [24]:
#load python libaries
import numpy as np
import pandas as pd
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as pl
import seaborn as sns
import glob
import sys
import os
import warnings
import ggplot
import datetime
import time
from datetime import date

In [2]:
%matplotlib inline

In [4]:
#load data file
data_file = pd.read_excel('NEW_NASA_2006.xlsx') 
data_file2 = pd.read_excel('NEW_NASA_2007.xlsx') 
data_file3 = pd.read_excel('NASA_2008.xlsx') 
#you'll have to change the file path to your working directory

#removing 1st row from datasets
data_file.drop(0, axis = 0,inplace = True)
data_file2.drop(0, axis = 0,inplace = True)
data_file3.drop(0, axis = 0,inplace = True)

#note: please be patient as this will take a few minutes to run

In [12]:
#combining dataframes 
df = [data_file, data_file2, data_file3]

cdf = pd.concat(df, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
cdf.reset_index()

,index,Hist_yr,agency,bdyr,coopsch,coopyr,currgrddte,dtystn_ind,dtystnname,edlev,...,secsch,secyr,sex,step_emp,supind,suplev,tenure,time_in_grade,typappt,worksch
0,1,2006,NN51,1900,NaN,NaN,10/08/1989,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",09,...,NaN,0,F,9,8,34,1,205.46,10,F
1,2,2006,NN51,1980,NaN,NaN,09/22/2002,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,6,2,26,1,50.00,10,F
2,3,2006,NN23,1986,NaN,NaN,07/21/1996,88,"HAMPTON,HAMPTON,VIRGINIA",10,...,NaN,0,M,8,8,34,1,124.04,10,F
3,4,2006,NN64,1994,NaN,NaN,04/17/2005,88,"STENNIS SPACE CENTER, HANCOCK, MISSISSIPPI",21,...,NaN,0,M,2,2,26,1,19.17,10,F
4,5,2006,NN72,2006,NaN,NaN,07/23/2006,29,"HOUSTON,HARRIS,TEXAS",13,...,NaN,0,F,10,8,34,3,3.98,20,F
5,6,2006,NN62,1972,NaN,NaN,12/01/1997,32,"REDSTONE ARSENAL,MADISON,ALABAMA",21,...,6882,1970,M,6,8,34,1,107.69,10,F
6,7,2006,NN51,1900,NaN,NaN,02/27/2000,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",04,...,NaN,0,M,5,8,34,1,80.85,10,F
7,8,2006,NN72,1986,NaN,NaN,04/26/1998,29,"HOUSTON,HARRIS,TEXAS",17,...,3669,1982,M,6,8,34,1,102.88,10,F
8,9,2006,NN51,1978,NaN,NaN,09/27/1987,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",21,...,3918,1971,M,0,2,32,1,229.85,10,F
9,10,2006,NN10,1987,NaN,NaN,05/14/2006,80,"WASHINGTON,DISTRICT OF COLUMBIA",17,...,3915,1974,F,6,2,34,1,6.27,10,F
10,11,2006,NN62,1982,NaN,NaN,07/30/2000,32,"REDSTONE ARSENAL,MADISON,ALABAMA",17,...,2074,1979,M,7,8,34,1,75.75,10,F
11,12,2006,NN72,1976,NaN,NaN,09/29/1989,29,"HOUSTON,HARRIS,TEXAS",13,...,NaN,0,F,10,8,34,1,205.78,10,F
12,13,2006,NN22,1973,NaN,NaN,04/04/2004,14,"BROOK PARK,CUYAHOGA,OHIO",14,...,NaN,0,M,7,2,29,1,31.59,10,F
13,14,2006,NN10,1975,NaN,NaN,03/30/1997,80,"WASHINGTON,DISTRICT OF COLUMBIA",14,...,NaN,0,M,8,5,34,1,115.75,10,F
14,15,2006,NN76,1978,NaN,NaN,12/23/1984,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",18,...,9306,1971,F,10,5,25,1,262.98,10,F
15,16,2006,NN21,1980,NaN,NaN,07/14/2002,74,"MOFFETT FIELD,SANTA CLARA,CALIFORNIA",14,...,NaN,0,M,5,8,34,1,52.27,10,F
16,17,2006,NN21,1979,NaN,NaN,03/21/2004,74,"MOFFETT FIELD,SANTA CLARA,CALIFORNIA",18,...,5859,1964,M,10,5,34,1,32.04,10,F
17,18,2006,NN51,2003,NaN,NaN,11/27/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",17,...,2757,2001,M,4,8,34,1,11.85,10,F
18,19,2006,NN10,1978,NaN,NaN,03/21/1993,41,"PASADENA,LOS ANGELES,CALIFORNIA",14,...,NaN,0,M,8,8,34,1,164.04,10,F
19,20,2006,NN22,1983,NaN,NaN,11/18/1990,14,"BROOK PARK,CUYAHOGA,OHIO",17,...,2361,1972,M,10,2,27,1,192.14,10,F
20,21,2006,NN62,1999,NaN,NaN,07/15/2001,32,"REDSTONE ARSENAL,MADISON,ALABAMA",13,...,1005,1982,M,8,8,34,1,64.24,10,F
21,22,2006,NN76,1900,NaN,NaN,11/13/2005,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",04,...,NaN,0,F,10,8,34,3,12.30,20,F
22,23,2006,NN51,1987,NaN,NaN,08/25/2002,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,M,7,8,34,1,50.91,10,F
23,24,2006,NN76,1995,NaN,NaN,10/15/2006,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",10,...,NaN,0,M,1,8,34,3,1.24,20,F
24,25,2006,NN51,2002,NaN,NaN,04/16/2006,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,2,8,34,1,7.20,10,F
25,26,2006,NN72,1967,NaN,NaN,01/08/1989,29,"HOUSTON,HARRIS,TEXAS",17,...,6882,1964,M,10,8,34,1,214.46,10,F
26,27,2006,NN10,1972,NaN,NaN,01/09/2006,80,"WASHINGTON,DISTRICT OF COLUMBIA",21,...,NaN,0,M,0,2,26,0,10.43,50,F
27,28,2006,NN76,1982,NaN,NaN,11/12/2006,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",14,...,NaN,0,M,10,8,34,3,0.33,20,F
28,29,2006,NN51,1900,NaN,NaN,10/30/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",04,...,NaN,0,F,2,8,34,1,12.75,10,F
29,30,2006,NN72,1996,NaN,NaN,06/12/2005,29,"HOUSTON,HARRIS,TEXAS",17,...,3087,1988,M,8,8,34,2,17.33,15,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56242,18771,2008,NN51,1973,NaN,0,05/18/2003,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",21,...,5814,1972,M,8,8,34,1,64.27,10,F
56243,18772,2008,NN10,1900,NaN,0,04/13/2008,80,"WASHINGTON,DISTRICT OF COLUMBIA",06,...,NaN,0,F,5,8,34,1,5.43,10,F
56244,18773,2008,NN51,1982,NaN,0,01/09/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,5,8,34,1,44.56,10,F
56245,18774,2008,NN51,1900,NaN,0,06/22/1997,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",08,...,NaN,0,F,8,8,34,1,135.14,10,F
56246,18775,2008,NN51,1987,NaN,0,12/20/1998,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,7,8,34,1,117.20,10,F
56247,18776,2008,NN10,1900,NaN,0,05/29/2005,80,"WASHINGTON,DISTRICT OF COLUMBIA",07,...,NaN,0,F,5,8,34,1,39.91,10,F
56248,18777,2008,NN51,1900,NaN,0,11/08/1998,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",04,...,NaN,0,F,8,8,34,1,118.59,10,F
56249,18778,2008,NN76,1998,NaN,0,01/20/2008,88,"KENNEDY SPACE CENTER,BREVARD,FLORIDA",13,...,5144,1995,F,4,8,34,3,8.20,20,F
56250,18779,2008,NN10,1979,NaN,0,12/20/1998,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,M,7,2,26,1,117.20,10,F
56251,18780,2008,NN51,1900,NaN,0,07/24/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",07,...,NaN,0,F,4,8,34,1,38.07,10,F
56252,18781,2008,NN51,1972,NaN,0,04/01/1984,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",14,...,NaN,0,M,10,8,34,1,293.81,10,F
56253,18782,2008,NN72,2007,NaN,0,04/27/2008,29,"HOUSTON,HARRIS,TEXAS",17,...,6916,2003,F,10,8,34,2,4.98,32,F
56254,18783,2008,NN10,1900,NaN,0,03/18/2007,80,"WASHINGTON,DISTRICT OF COLUMBIA",04,...,NaN,0,F,3,8,34,1,18.27,10,F
56255,18784,2008,NN51,1995,NaN,0,03/23/2003,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",17,...,5820,1980,M,8,8,34,1,66.10,10,F
56256,18785,2008,NN51,1983,NaN,0,06/26/1994,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,9,8,34,1,171.00,10,F
56257,18786,2008,NN72,1989,NaN,0,02/06/2005,29,"HOUSTON,HARRIS,TEXAS",17,...,5885,1987,F,5,2,29,1,43.65,10,F
56258,18787,2008,NN51,1995,NaN,0,08/18/1996,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",14,...,5814,1991,M,9,8,34,1,145.27,10,F
56259,18788,2008,NN51,1900,NaN,0,01/25/2004,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",07,...,NaN,0,F,4,8,34,1,56.04,10,F
56260,18789,2008,NN62,1972,NaN,0,07/14/1991,32,"REDSTONE ARSENAL,MADISON,ALABAMA",17,...,1480,1967,M,10,8,34,1,206.39,10,F
56261,18790,2008,NN64,2004,NaN,0,04/15/2007,88,"BAY ST LOUIS,HANCOCK,MISSISSIPPI",13,...,NaN,0,M,2,8,34,1,17.36,10,F
56262,18791,2008,NN51,1978,NaN,0,02/10/1991,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,10,8,34,1,211.52,10,F
56263,18792,2008,NN51,1994,NaN,0,08/20/2007,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",19,...,3514,1991,F,10,8,34,2,13.20,30,F
56264,18793,2008,NN51,2005,NaN,0,08/21/2005,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",10,...,NaN,0,F,5,8,34,1,37.17,10,F
56265,18794,2008,NN51,1984,NaN,0,08/25/2002,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",13,...,NaN,0,F,8,8,34,1,73.04,10,F
56266,18795,2008,NN51,1900,NaN,0,09/26/1999,80,"GREENBELT,PRINCE GEORGE'S,MARYLAND",04,...,NaN,0,M,7,8,34,1,108.00,10,F
56267,18796,2008,NN22,1983,NaN,0,04/07/1991,14,"BROOK PARK,CUYAHOGA,OHIO",13,...,NaN,0,M,10,8,34,1,209.62,10,F
56268,18797,2008,NN22,2007,1492,2007,08/05/2007,14,"FAIRVIEW PARK,CUYAHOGA,OHIO",13,...,1492,2007,M,2,8,34,3,13.68,20,F
56269,18798,2008,NN22,1990,NaN,0,07/01/2001,14,"BROOK PARK,CUYAHOGA,OHIO",17,...,1827,1986,M,6,8,34,1,86.81,10,F
56270,18799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56271,18800,(18798 row(s,) affec,ted),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# dropping columns we are not using for the analysis
cdf.drop('agency', axis=1, inplace=True)
cdf.drop('coopsch', axis=1, inplace=True)
cdf.drop('coopyr', axis=1, inplace=True)
cdf.drop('dtystn_ind', axis=1, inplace=True)
cdf.drop('dtystnname', axis=1, inplace=True)
cdf.drop('edlev', axis=1, inplace=True)
cdf.drop('foulev', axis=1, inplace=True)
cdf.drop('fousch', axis=1, inplace=True)
cdf.drop('fouyr', axis=1, inplace=True)
cdf.drop('nasattl', axis=1, inplace=True)
cdf.drop('probenddte', axis=1, inplace=True)
cdf.drop('promontedte', axis=1, inplace=True)
cdf.drop('secsch', axis=1, inplace=True)
cdf.drop('seclev', axis=1, inplace=True)
cdf.drop('typappt', axis=1, inplace=True)
cdf.drop('worksch', axis=1, inplace=True)

In [14]:
cdf = cdf[cdf.bdyr != 1900]
cdf.salary = cdf.salary.astype(np.float64)
cdf.time_in_grade = cdf.time_in_grade.astype(np.float64)
cdf.suplev = cdf.suplev.astype(np.float64)

In [15]:
# converting bdyr column to age
now = datetime.datetime.now()
cdf['bdyr'] = cdf['bdyr'].apply(pd.to_numeric, errors='coerce') 
cdf['age'] = now.year - cdf['bdyr']

In [20]:
cdf['salary_range'] = pd.cut(cdf.salary,[0,50000,100000,135000, 150000],4,
                             labels=['Entry_Level','Jr_Level','Mid_Level', 'Mgmt_Level' ])
cdf.dropna(inplace=True)
# convert cdf variable back to "df" nomenclature
df = pd.DataFrame(cdf)

In [21]:
#manipulate employee start date 'eoddte' to get 'service' variable
#convert 'eoddte' to series
df.eod = pd.Series(df['eoddte'])
#convert 'eoddte' series to 'eoddte' datetime
df['eoddte'] = pd.to_datetime(df.eod) 
#convert eod to be just the year
df['eodyr'] = df['eoddte'].map(lambda x: x.year)

In [22]:
#convert high school graduation year "hiyr" to be numeric
df['hiyr'] = df['hiyr'].apply(pd.to_numeric, errors='coerce')
#after looking at a crosstab, we can see that there are a lot of "high school graduation year: 0"
#this is a data entry error, let's remove these entries...
df = df[df.hiyr != 0]
pd.crosstab(index=df["hiyr"],columns="hiyr")
#now the 0 entries have been removed

#subtract employee hire date from high school graduation date to get exprience
df['experience'] = df['eodyr'] - df['hiyr']

In [35]:
#get the 'service' variable by subtracting current date from hire date
today = date.today()
df['service'] = today - df['eoddte']
#generate retirement potential by subtracting retirement eligibility date from todays date  
#convert retoptdte to series for conversion to datetime format
df.retoptdte = pd.Series(df['retoptdte'])
#convert 'retoptdte' series to 'eoddte' datetime
df['retoptdte'] = pd.to_datetime(df.retoptdte) 
#generate 'retpot' variable
df['retpot'] = today - df['retoptdte']

In [36]:
df_grouped = df.groupby(by=['grade','sex'])

In [37]:
df_grouped = df.groupby(by=['grade','sex'])
df_imputed = df_grouped.transform(lambda grp: grp.fillna(grp.median()))
df_imputed[['grade','sex']] = df[['grade','sex']]

In [39]:
df['Hist_yr'] = df['Hist_yr'].astype(int)
df_yrgroup = df.groupby(by=['Hist_yr'])

# End of Preliminary Data Cleaning from Lab 1



---
<div id='SLR'/>
# MINI-LAB: SVM & LOGISTIC REGRESSION MODELING

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37412 entries, 2 to 18798
Data columns (total 41 columns):
Hist_yr          37412 non-null int32
bdyr             37412 non-null float64
currgrddte       37412 non-null object
eoddte           37412 non-null datetime64[ns]
frscdte          37412 non-null object
fscdte           37412 non-null object
grade            37412 non-null object
hilev            37412 non-null object
hisch            37412 non-null object
hiyr             37412 non-null int64
install          37412 non-null object
lastpromodte     37412 non-null object
leqdte           37412 non-null object
loccde           37412 non-null object
ncc              37412 non-null object
nextwigdte       37412 non-null object
occode           37412 non-null object
opmtitle         37412 non-null object
orga             37412 non-null object
orgabr           37412 non-null object
orgadir          37412 non-null object
orgadiv          37412 non-null object
orgasec          37412 non-null object
postenure        37412 non-null object
retdiscdte       37412 non-null object
retoptdte        37412 non-null datetime64[ns]
rno              37412 non-null object
salary           37412 non-null float64
secyr            37412 non-null object
sex              37412 non-null object
step_emp         37412 non-null object
supind           37412 non-null object
suplev           37412 non-null float64
tenure           37412 non-null object
time_in_grade    37412 non-null float64
age              37412 non-null float64
salary_range     37412 non-null category
eodyr            37412 non-null int64
experience       37412 non-null int64
service          37412 non-null timedelta64[ns]
retpot           37412 non-null timedelta64[ns]
dtypes: category(1), datetime64[ns](2), float64(5), int32(1), int64(3), object(27), timedelta64[ns](2)
memory usage: 11.6+ MB

In [44]:
# creating new dataframe. Keeping original seperate.
DF_NoT = df

In [45]:
# perform one-hot encoding of the categorical data "salary_range" and "rno" (ethnic background).
tmp_df = pd.get_dummies(df.salary_range,prefix='salary_range')
tmp_df2 = pd.get_dummies(df.rno,prefix='rno')

DF_NoT = pd.concat((df,tmp_df),axis=1) # add back into the dataframe
DF_NoT = pd.concat((DF_NoT,tmp_df2),axis=1)

In [46]:
# Delete time/dates - can't be used in L-Regression
del DF_NoT['eoddte']
del DF_NoT['retoptdte']
del DF_NoT['salary_range']
del DF_NoT['currgrddte']
del DF_NoT['frscdte']
del DF_NoT['fscdte']
del DF_NoT['hisch']
del DF_NoT['leqdte']
del DF_NoT['loccde']
del DF_NoT['ncc']
del DF_NoT['opmtitle']
del DF_NoT['occode']
del DF_NoT['orga']
del DF_NoT['orgabr']
del DF_NoT['orgadir']
del DF_NoT['orgadiv']
del DF_NoT['orgasec']
del DF_NoT['postenure']
del DF_NoT['tenure']
del DF_NoT['supind']
del DF_NoT['suplev']
del DF_NoT['rno']
del DF_NoT['rno_000010']  
del DF_NoT['rno_100100'] 
del DF_NoT['rno_100001'] 
del DF_NoT['rno_100010'] 
del DF_NoT['rno_100101'] 
del DF_NoT['rno_100000'] 
del DF_NoT['rno_011000'] 
del DF_NoT['rno_001101'] 
del DF_NoT['rno_010001'] 
del DF_NoT['rno_010101'] 
del DF_NoT['rno_001100'] 
del DF_NoT['rno_010000'] 
del DF_NoT['rno_010100'] 
del DF_NoT['rno_001001'] 
del DF_NoT['rno_001000'] 
del DF_NoT['rno_000101'] 
del DF_NoT['rno_000100'] 
del DF_NoT['rno_000011'] 
del DF_NoT['rno_101000'] 
del DF_NoT['rno_101101'] 
del DF_NoT['rno_110000'] 
del DF_NoT['rno_110001'] 
del DF_NoT['rno_110101'] 
del DF_NoT['rno_111111']

In [47]:
today = date(2008, 12, 31) #modify if more datasets are added
DF_NoT.service = DF_NoT.service / np.timedelta64(1, 'D')
DF_NoT.retpot = DF_NoT.retpot / np.timedelta64(1, 'D')

In [48]:
DF_NoT.lastpromodte = pd.Series(DF_NoT['lastpromodte'])
#convert 'eoddte' series to 'eoddte' datetime
DF_NoT['lastpromodte'] = pd.to_datetime(DF_NoT.lastpromodte) 
DF_NoT['lastpromodte'] = today - DF_NoT['lastpromodte']

In [49]:
#removing the day to calculate a number
DF_NoT.lastpromodte = DF_NoT.lastpromodte / np.timedelta64(1, 'D')

DF_NoT.nextwigdte = pd.Series(DF_NoT['nextwigdte'])
DF_NoT['nextwigdte'] = pd.to_datetime(DF_NoT.nextwigdte) 
DF_NoT['nextwigdte'] = today - DF_NoT['nextwigdte']
DF_NoT.nextwigdte = DF_NoT.nextwigdte / np.timedelta64(1, 'D')

DF_NoT.retdiscdte = pd.Series(DF_NoT['retdiscdte'])
DF_NoT['retdiscdte'] = pd.to_datetime(DF_NoT.retdiscdte) 
DF_NoT['retdiscdte'] = today - DF_NoT['retdiscdte']
DF_NoT.retdiscdte = DF_NoT.retdiscdte / np.timedelta64(1, 'D')

In [50]:
DF_NoT['IsMale'] = DF_NoT.sex=='M' 
DF_NoT.IsMale = DF_NoT.IsMale.astype(np.int)
del DF_NoT['sex']

<div id='TT'/>
# Training and Testing Split

In order to start training the data, we have decided to grab 75% of the instances for the initial training and then validate the model on the remaining 25%. We will repeat this process four times.

In [82]:
from sklearn.cross_validation import ShuffleSplit
DF_Reg = DF_NoT
# we want to predict the X and y data as follows:
if 'salary_range_Jr_Level' in DF_Reg: # We chose Salary_range_Jr_level as our binary. (1 if in the junior level, 0 if not)
    y = DF_Reg['salary_range_Jr_Level'].values 
    del DF_Reg['salary_range_Jr_Level'] 
    X = DF_Reg.values # use everything else to predict!

#    training and testing splits
num_cv_iterations = 4 #We will use 4 iterations.
num_instances = len(y)
cv_object = ShuffleSplit(n=num_instances,
                         n_iter=4, #num_cv_iterations
                         test_size  = 0.25) #We will use a 3/4 split.  75% training data and 25% validation data.
                         
print(cv_object)

ShuffleSplit(37412, n_iter=4, test_size=0.25, random_state=None)

<div id='LR'/>
# Logistic Regression - Create the Model

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics as mt

# Create a reusable regression object
lr_clf = LogisticRegression(penalty='l2', C=1.0, class_weight=None)

iter_num=0
# the indices are the rows used for training and testing in each iteration
for train_indices, test_indices in cv_object: 
   
    X_train = X[train_indices]
    y_train = y[train_indices]
    
    X_test = X[test_indices]
    y_test = y[test_indices]
    
    # train the reusable logisitc regression model on the training data
    lr_clf.fit(X_train,y_train)  
    y_hat = lr_clf.predict(X_test)

    # print accuracy for confusion matrix
    #acc = mt.accuracy_score(y_test,y_hat)
    #conf = mt.confusion_matrix(y_test,y_hat)
    
    acc = mt.accuracy_score(y_test,y_hat)
    conf = mt.confusion_matrix(y_test,y_hat)
    print("====Iteration",iter_num," ====")
    print("accuracy", acc )
    print("confusion matrix\n",conf)
    iter_num+=1

====Iteration 0  ====
accuracy 0.877793221426
confusion matrix
 [[4757  505]
 [ 638 3453]]
====Iteration 1  ====
accuracy 0.96118892334
confusion matrix
 [[5054  195]
 [ 168 3936]]
====Iteration 2  ====
accuracy 0.884849780819
confusion matrix
 [[4884  484]
 [ 593 3392]]
====Iteration 3  ====
accuracy 0.878755479525
confusion matrix
 [[4737  496]
 [ 638 3482]]

After running four iterations of cross validation through our logistic regression function, we have found that our model is roughly between 86% and 90% accurate.

In [112]:
from ipywidgets import widgets as wd
from sklearn.cross_validation import cross_val_score

def lr_explor(cost):
    lr_clf = LogisticRegression(penalty='l2', C=cost, class_weight=None) # get object
    accuracies = cross_val_score(lr_clf,X,y=y,cv=cv_object) # this also can help with parallelism
    print(accuracies)

wd.interact(lr_explor,cost=(0.001, 10.0, 1.0),__manual=True)

We played around with different parameters and this is what we found:
 - When penalty was set to 'l1' our accuracy jumped to 100%, and when penalty was set to 'l2' our model accuracy dropped to approximately 87%. We chose to stick with penalty = 'l2'.
 - Using the values 0.001 through 10.0, for C in the Regression object made some differences in our model accuracy. We found that when the cost was higher (between 3.0 and 10.0, compared to the original 1.0) the accuracy of our model was in the mid 90%'s more often, sometimes reaching as high as 98%.

In [114]:
# interpret the weights before normalization

weights = lr_clf.coef_.T 
variable_names = DF_NoT.columns
for coef, name in zip(weights,variable_names):
    print(name, 'has weight of', coef[0])

Hist_yr has weight of -0.000405795750394
bdyr has weight of 0.00227125070497
grade has weight of 0.0113369145712
hilev has weight of 0.0022352474972
hiyr has weight of 0.00227125070497
install has weight of 0.00125790606097
lastpromodte has weight of 0.000104890061751
nextwigdte has weight of 7.65480924401e-05
retdiscdte has weight of -2.00637491467e-05
salary has weight of -6.85625729371e-05
secyr has weight of -2.99919030163e-05
step_emp has weight of -0.000689405011194
time_in_grade has weight of 0.003373258575
age has weight of -0.00294091785507
eodyr has weight of -0.000793843236404
experience has weight of -0.00306509394135
service has weight of -8.35022733366e-05
retpot has weight of 6.93520114577e-05
salary_range_Entry_Level has weight of -0.00293139355481
salary_range_Mid_Level has weight of -0.00594954336328
salary_range_Mgmt_Level has weight of -0.000184937716452
rno_000001 has weight of -6.87732832074e-05
IsMale has weight of -0.00011894310684

---

<div id='WI'/>
# WEIGHTS INTERPERTATION

The weights are not interpretable because the attributes have vastly different ranges. We will normalize the features, re-run the full regression model, and then interpret the weights. The normalized attributes will provide weights that give more accurate insight to their effects.

In [116]:
from sklearn.preprocessing import StandardScaler

# scale attributes by the training set
scl_obj = StandardScaler()
scl_obj.fit(X_train) 
# find scalings for each column that make this zero mean and unit std
# the line of code above only looks at training data to get mean and std and we can use it 
# to transform new feature data

X_train_scaled = scl_obj.transform(X_train) # apply to training
X_test_scaled = scl_obj.transform(X_test) # apply those means and std to the test set (without snooping at the test set values)

# train the model just as before
lr_clf = LogisticRegression(penalty='l2', C=0.05) # get object, the 'C' value is less because all of the attributes have been normalized.
lr_clf.fit(X_train_scaled,y_train)  # train object

y_hat = lr_clf.predict(X_test_scaled) # get test set precitions

acc = mt.accuracy_score(y_test,y_hat)
conf = mt.confusion_matrix(y_test,y_hat)
print('accuracy:', acc )
print(conf )

# sort these attributes and spit them out
zip_vars = zip(lr_clf.coef_.T,DF_Reg.columns) # combine attributes
for coef, name in zip_vars:
    print(name, 'has weight of', coef[0]) # now print them out

accuracy: 1.0
[[5233    0]
 [   0 4120]]
Hist_yr has weight of -0.0290570087656
bdyr has weight of 0.0672971697572
grade has weight of 0.222270477997
hilev has weight of -0.113944308989
hiyr has weight of 0.0672971697572
install has weight of 0.0160195702955
lastpromodte has weight of 0.114423409787
nextwigdte has weight of 0.0269034136621
retdiscdte has weight of -0.0777504160266
salary has weight of -1.5223727559
secyr has weight of -0.0384988921377
step_emp has weight of -0.0364441877102
time_in_grade has weight of 0.0945374741545
age has weight of -0.0672971697572
eodyr has weight of 0.0614995888565
experience has weight of -0.00580705828715
service has weight of -0.0651162099229
retpot has weight of 0.0434965401365
salary_range_Entry_Level has weight of -2.70846181745
salary_range_Mid_Level has weight of -4.57319879453
salary_range_Mgmt_Level has weight of -1.79419277321
rno_000001 has weight of -0.0226809110944
IsMale has weight of -0.0570270655739

C:\Users\natha_000\Anaconda3\lib\site-packages\sklearn\utils\validation.py:420: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\natha_000\Anaconda3\lib\site-packages\sklearn\utils\validation.py:420: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\natha_000\Anaconda3\lib\site-packages\sklearn\utils\validation.py:420: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

---

<div id='NWI'/>
# NORMALIZE WEIGHT INTERPRETATION

These weights are what is expected due how the Goverment controls variability with hiring and promotion schedules. According to these results, the largest wieght we can see is the variable title 'salary_range_Mid_Level' with a value of <strong>-4.621035350746709</strong>. As a whole, these weights are relatively low. We might want to investigate Step-Wise or Lasso varaible selection methods. Our dependent variable was 'salary_range_Jr_Level' and we acheived strong categorization.

In [101]:
if 'salary_range_Jr_Level' in DF_Reg: # Choose a binary variable to predict / or go create one
    y = DF_Reg['salary_range_Jr_Level'].values # get the labels we want
    del DF_Reg['salary_range_Jr_Level'] # get rid of the class label
    X = DF_Reg.values # use everything else to predict!

    ## X and y are now numpy matrices, by calling 'values' on the pandas data frames we
    #    have converted them into simple matrices to use with scikit learn
    
    
# to use the cross validation object in scikit learn, we need to grab an instance
#    of the object and set it up. This object will be able to split our data into 
#    training and testing splits
num_cv_iterations = 1
num_instances = len(y)
cv_object2 = ShuffleSplit(n=num_instances,
                         n_iter=num_cv_iterations,
                         test_size  = 0.2)
                         
print(cv_object2)

ShuffleSplit(37412, n_iter=1, test_size=0.2, random_state=None)

In [102]:
for train_indices, test_indices in cv_object2: 
    # I will create new variables here so that it is more obvious what 
    # the code is doing (you can compact this syntax and avoid duplicating memory,
    # but it makes this code less readable)
    X_train = X[train_indices]
    y_train = y[train_indices]
    
    X_test = X[test_indices]
    y_test = y[test_indices]
    
X_train_scaled = scl_obj.transform(X_train) # apply to training
X_test_scaled = scl_obj.transform(X_test)

/Users/wkerneck/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/wkerneck/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

---
<div id='SVM'/>
# SUPPORT VECTOR MACHINE

In [1]:
from sklearn.svm import SVC

# train the model just as before
svm_clf = SVC(C=0.5, kernel='linear', degree=3, gamma='auto') # get object
svm_clf.fit(X_train_scaled, y_train)  # train object

y_hat = svm_clf.predict(X_test_scaled) # get test set precitions

acc = mt.accuracy_score(y_test,y_hat)
conf = mt.confusion_matrix(y_test,y_hat)
print('accuracy:', acc )
print(conf)

NameError: name 'X_train_scaled' is not defined

In [98]:
# look at the support vectors
print(svm_clf.support_vectors_.shape)
print(svm_clf.support_.shape)
print(svm_clf.n_support_ )

(354, 23)
(354,)
[223 131]

---

<div id='sve'/>
# SUPPORT VECTOR EXPLANATION

The datasets we were working with was clearly classified. Binary groups were explicitly clear. Majority of the data seemed catagorical which made it easy for classification.

---

<div id='CC'/>
# CLASSIFICATION COMPARISON

In the contents of this dataset and for this lab, support vector machine (SVM) appears to be more accurate. Normally this would be an example of "overfiiting" but knowing where this dataset came from and how the U.S. Goverment Federal salaries are determined by congress and pay increases are set by a days-in-service schedule. See OPM General Pay Schedule: https://www.opm.gov/policy-data-oversight/pay-leave/pay-systems/general-schedule/. Since the "grade" variable and the "time in service" variable are used to determine salary, we suspect that including them in this logistic regression is giving us some results with multicolinearity. If we had more time, we would remove these variables and tune the regession again.

---
<div id='a'/>
# ACKNOWLEDGEMENTS

- Office of Personnel Management (OPM)
- National Aeronautics and Space Administration (NASA)
- NASA Johnson Space Center (JSC)

---
# APPENDIX

### SQL Query

A SQL query was written to pull the needed data from NASA's Human Resources Agency Workforce Microsoft SQL Database. The SQL query retrieves records for only active employee by calendar year.

```
SELECT
    [agency]
    ,convert(varchar(10),[apptntedte], 101) as apptntedte
    ,[bdyr]
    ,[citizen]
    ,[coopfld]
    ,[cooplev]
    ,[coopsch]
    ,[coopyr]
    ,convert(varchar(10),[currgrddte], 101) as currgrddte
    ,[dlrlimit]
    ,[dtystn_ind]
    ,[dtystnname]
    ,[dtysts]
    ,[edlev]
    ,convert(varchar(10),[eoddte], 101) as eoddte
    ,[finstm]
    ,[foufld]
    ,[foulev]
    ,[fousch]
    ,[fouyr
    ,convert(varchar(10),[frscdte], 101) as frscdte
    ,convert(varchar(10),[fscdte], 101) as fscdte
    ,convert(varchar(10),[fscdte_enhanced], 101) as fscdte_enhanced
    ,[grade]
    ,[graderetn]
    ,[hifld]
    ,[hilev]
    ,[hisch]
    ,[hiyr]
    ,[hrlimit]
    ,[install]
    ,[install_calc]
    ,convert(varchar(10),[lastpromodte], 101) as lastpromodte
    ,convert(varchar(10),[leqdte], 101) as leqdte
    ,[loccde]
    ,convert(varchar(10),[lwopntedte], 101) as lwopntedte
    ,[nasattl]
    ,[ncc]
    ,[ncc_old]
    ,convert(varchar(10),[nextwigdte], 101) as nextwigdte
    ,convert(varchar(10),[nscdte], 101) as nscdte
    ,[occode]
    ,[opmtitle]
    ,[orga]
    ,[orgabr]
    ,[orgadir]
    ,[orgadiv]
    ,[orgasec]
    ,[poi]
    ,[poscrit]
    ,[postenure]
    ,[prd]
    ,[probenddte]
    ,convert(varchar(10),[probenddte], 101) as probenddte
    ,[projpromo]
    ,convert(varchar(10),[promontedte], 101) as promontedte
    ,convert(varchar(10),[retdiscdte], 101) as retdiscdte
    ,convert(varchar(10),[retoptdte], 101) as retoptdte
    ,[rno]
    ,convert(varchar(10),[rscdte], 101) as rscdte
    ,[rtd]
    ,[secfld]
    ,[seclev]
    ,[secsch]
    ,[secyr]
    ,[sex]
    ,[spid]
    ,[step_emp]
    ,[stepretn]
    ,[super_diff]
    ,[supind]
    ,[suplev]
    ,[tenure]
    ,convert(varchar(10),[tenurebdte], 101) as tenurebdte
    ,[time_in_grade]
    ,[typappt]
    ,[worksch]
FROM [XXX].[XXX].[PerStat]
WHERE dtysts in ('a','c','f','i','l','m','p','v','y')
AND Hist_yr = 'ENTER 4 DIGIT YEAR'
```